<h1><%= @room.name %></h1>
<h4>参加者</h4>
<% if mentor_signed_in? %>
  <% @entries.each do |e| %>
    <%= link_to e.mentor.name, mentor_path(e.mentor_id) %>
  <% end %>
<% elsif student_signed_in? %>
  <% @entries.each do |e| %>
    <% if e.mentor.present? %>
      <%= link_to e.mentor.name, mentor_path(e.mentor_id) %>
    <% end %>
  <% end %>
<% end %>



<div id="direct_messages" data-room_id="<%= @room.id %>">
  <%= render @direct_messages %>
</div>

<%= form_with(url: direct_messages_path) do |f| %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <div class="input-group">
    <%= f.text_field :content, placeholder: "Type your message here...", class: 'form-control', id: "chat-input-form" %>
    <div class="input-group-append">
      <%= f.submit "Add Message", class: "btn btn-primary", id: "add_message" %>
    </div>
  </div>
<% end %>